$main-bg-color: #e5e5e5;
$btn-bg-color: #ffffff;
$nav-txt-color: #19191b;
$sub-txt-color: #575757;
$nav-btn-color: #d7d7d7;
$h1-color: #3d3d3d;
$prof-btn-color: #3d3d3d;
$yellow-btn-tone: #fbd144;
$brightness: 1;
/*-------dark theme var----------*/
$main-bg-color-dark: #0c151d;
$btn-bg-color-dark: #171f26;
$h1-color-dark: #f1f2f4;
$yellow-btn-tone-dark: #ffe071;
$prof-btn-color-dark: #a3abb2;
$brightness-dark: 2;

.theme {
  --main-bg-color: #{$main-bg-color};
  --btn-bg-color: #{$btn-bg-color};
  --nav-txt-color: #{$nav-txt-color};
  --sub-txt-color: #{$sub-txt-color};
  --nav-btn-color: #{$nav-btn-color};
  --h1-color: #{$h1-color};
  --prof-btn-color: #{$prof-btn-color};
  --yellow-btn-tone: #{$yellow-btn-tone};
  --brightness: #{$brightness};

  &__dark {
    --main-bg-color: #{$main-bg-color-dark};
    --btn-bg-color: #{$btn-bg-color-dark};
    --sub-txt-color: #{$sub-txt-color};
    --h1-color: #{$h1-color-dark};
    --yellow-btn-tone: #{$yellow-btn-tone-dark};
    --brightness: #{$brightness-dark};
    --prof-btn-color: #{$prof-btn-color-dark};
    --nav-txt-color: #{$prof-btn-color-dark};
  }
}

@mixin flexDisplay($flexType: flex, $flexDir: row) {
  display: $flexType;
  flex-direction: $flexDir;
}
