@use 'variables';

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /*------------------*
  *       HEADER      *
  * ------------------*/

  /* CARD */
  .card {
    flex-direction: column;
    text-align: center;
    width: 100%;

    &__title {
      display: flex;
      flex-direction: column;
    }

    &__image {
      background: var(--btn-bg-color);
    }
  }

  /* ICON */
  .icon {
    margin: 0 2rem;
  }

  /* LIST */
  .list {
    font-size: 100%;
    line-height: 21px;
    width: 50%;

    &__item--mobile {
      display: block;
    }

    &__item--desktop {
      display: none;
    }
  }

  /* BUTTON STACK */
  .button-stack {
    width: 70%;

    .button {
      &:active {
        border: 1px solid var(--sub-txt-color);
      }

      &__image {
        margin: 0 0 2px 10px;
      }
    }
  }

  /* NAV */
  nav {
    @include variables.flexDisplay;
    align-items: center;
    margin: 3rem;
    width: 70%;

    button {
      border-radius: 10px;
      height: 100%;

      &:active {
        background: var(--main-bg-color);
      }
    }
  }

  /*------------------*
  *       MAIN        *
  * ------------------*/

  /* IMPOSTER */
  .imposter {
    width: 80%;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  /* CONTAINER */
  .container__img {
    width: 30vw;
    height: 100%;
    margin-left: 5%;
  }

  /* OVERLAY */
  .overlay {
    width: 30vw;
    height: 100%;
    top: 0;
    left: 5%;
    text-align: center;

    &__text {
      font-size: 0.7rem;
      text-align: center;
      width: 100%;
      line-height: 150%;
    }

    &__text--big {
      font-size: 1rem;
    }
  }

  /* LINK ICON */
  .link-icon {
    margin: 3%;
  }

  /* ARROW ICON */
  .arrow-icon {
    margin: 0 0 1rem 0;
    width: 3vw;
    height: auto;
  }

  /*------------------*
  *       FOOTER      *
  * ------------------*/

  footer {
    width: 282px;
    font-size: 14px;
    line-height: 21px;
    margin: 20px auto;
  }
}

@media (max-width: 600px) {
  /*------------------*
  *       BASIC       *
  * ------------------*/

  * {
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 1.8em;
  }

  li {
    min-width: 0;
  }

  /*------------------*
  *       HEADER      *
  * ------------------*/

  /* THEME SWITCHER */
  .theme-switcher:active {
    background: var(--btn-bg-color);
    color: #3d3d3d;
  }

  /* CARD */
  .card {
    flex-direction: column;
    text-align: center;
    width: 100%;

    &__image {
      margin: 1%;
      background: var(--btn-bg-color);
      padding: 5px;
      width: 50%;
    }
  }

  /* ICON */
  .icon {
    margin: 1rem;
    height: 40%;
  }

  /* LIST */
  .list {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    justify-content: space-evenly;
    min-width: 0;

    &__item--mobile {
      display: block;
    }

    &__item--desktop {
      display: none;
    }
  }

  /* BUTTON STACK */
  .button-stack {
    justify-content: center;
    margin: 0 10%;
  }

  .button {
    font-size: 70%;
    height: 6vh;

    &:active {
      border: 1px solid var(--sub-txt-color);
    }
  }

  /* NAV */
  nav {
    width: 90%;
    height: 7vh;

    button:active {
      background: var(--main-bg-color);
    }
  }

  /*------------------*
  *       MAIN        *
  * ------------------*/

  /* IMPOSTER */
  .imposter {
    width: 80%;
    display: block;
    margin: 5% auto;
  }

  /* CONTAINER */
  .container {
    width: 100%;
    margin: 0 0 5%;
  }

  /* OVERLAY */
  .overlay__text {
    font-size: 90%;
  }

  /* ARROW TOP ICON */
  .arrow-top-icon {
    display: block;
    height: 40px;
    padding: 1px;
    border-radius: 50%;
    position: fixed;
    top: 94%;
    right: 2vw;
    background-color: var(--yellow-btn-tone);
  }

  /*------------------*
  *       FOOTER      *
  * ------------------*/

  footer {
    font-size: 14px;
  }
}
