.scroll-button {
  display: none;
  position: fixed;
  font-size: 4vmin;
  bottom: 40px;
  right: 5%;
  background-color: var(--yellow-1);
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0px -2px 28px -1px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px -2px 28px -1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px -2px 28px -1px rgba(0, 0, 0, 0.63);
}
