.tabs {
  margin: 75px 0 65px;
  background-color: var(--light-background);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
  height: 110px;
  width: 760px;
  &__button {
    width: 351.45px;
    height: 80px;
    &--active {
      background-color: var(--active-button);
    }
    &--inactive {
      background-color: var(--inactive-button);
    }
  }
}
