$background-black: #0c151d;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  text-align: center;
  margin: 0;
  padding: 0;
}

.dark--mode {
  background-color: $background-black;
}

li {
  list-style: none;
}
