$color-light-gray: #f1f2f4;
$color-gray: #575757;

@mixin font-size($fontSize) {
  font-size: $fontSize;
}

.footer--white {
  padding: 80px 0;
  @include font-size(22px);
  line-height: 33px;
  color: $color-gray;
  > p {
    margin: 0;
  }
}
.footer--dark {
  padding: 80px 0;
  @include font-size(22px);
  line-height: 33px;
  display: none;
  color: $color-light-gray;
  > p {
    margin: 0;
  }
}
