$color-white: #ffffff;
$color-dark-gray: #3d3d3d;

header {
  padding: 33px 0;
  .btn-mode {
    display: inline-block;
    background: none;
    border: none;
    border-radius: 50px;
    .header--icon {
      height: 33.35px;
      width: 33.4px;
      color: $color-dark-gray;
      background-color: $color-white;
      padding: 23.32px;
      border-radius: 50%;
    }
  }
  /* Darkmode icon */
  .btn-mode__dark {
    display: none;
    background: none;
    border: none;
    border-radius: 50px;
    .header--icon__dark {
      height: 33.35px;
      width: 33.4px;
      color: $color-dark-gray;
      background-color: #171f26;
      padding: 23.32px;
      border-radius: 50%;
    }
  }
}
