$background-black: #0c151d;
$background-dark-grey: #171f26;
$color-light-gray: #f1f2f4;

.main--projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px 0;
  .projects--button {
    @include font-size(22px);
    line-height: 33px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 760px;
    height: 110px;
    background: #ffffff;
    border-radius: 20px;
    margin: 50px 0;
    color: #19191b;
    .projects--btn {
      @include font-size(22px);
      line-height: 33px;
      font-weight: 600;
      width: 351.45px;
      height: 80px;
      background-color: #d7d7d7;
      color: #19191b;
      border-radius: 10px;
      border: none;
      padding: 0;
      margin: 0 19px;
    }
    .projects--button > p {
      width: 351.45px;
    }
  }
  .projects--buttonDark {
    @include font-size(22px);
    line-height: 33px;
    font-weight: 600;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 760px;
    height: 110px;
    background: $background-dark-grey;
    border-radius: 20px;
    margin: 50px 0;
    color: $color-light-gray;
  }
  .projects--btnDark {
    @include font-size(22px);
    line-height: 33px;
    font-weight: 600;
    width: 351.45px;
    height: 80px;
    background-color: $background-black;
    color: $color-light-gray;
    border-radius: 10px;
    border: none;
    padding: 0;
    margin: 0 19px;
    .projects--buttonDark > p {
      width: 351.45px;
    }
  }
  .project--container__pictures {
    max-width: 757px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 780px;
  }
}
