#root {
  display: flex;
  justify-content: space-evenly;
}

.addButton {
  width: 100px;
  height: 100px;
  margin: 7px;
  cursor: pointer;
  border-radius: 16px;
  border: 3px solid #5e217a;
  box-shadow: 0px 0px 10px 0px grey;
}

.verticalLine {
  position: relative;
  top: 50%;
  left: 25%;
  width: 50%;
  border: 2px solid #5e217a;
  transform: rotate(90deg);
}

.horizontalLine {
  position: relative;
  top: 47%;
  left: 25%;
  width: 50%;
  border: 2px solid #5e217a;
}

.avatar {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 10px;
  border-radius: 16px;
  z-index: 0;
  box-shadow: 0px 0px 10px 0px grey;
}

.container {
  max-width: 100%;
  width: 100%;
  border: 1px green;
}

.avatarContainer .avatar {
  margin-left: 50px;
}

.btnRefreshAll {
  border: none;
  max-width: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #5e217a;
  color: white;
  font-size: 15px;
  margin-top: 50%;
  box-shadow: 0px 0px 10px 0px grey;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btnRefreshAll:hover {
  opacity: 0.8;
}

.refreshContainer {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
}

.refresh-button {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 10px;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.refresh-button:hover {
  opacity: 0.7;
  cursor: pointer;
  background-color: antiquewhite;
}
