.button {
  border: none;
  background: var(--primary);
  width: 320px;
  height: 40px;
  border-radius: 6px;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
