$background-grey: #e5e5e5;
$dark-grey: #3d3d3d;
$light-grey: #575757;
$bg-white: #ffffff;
$yellow: #fbd144;
.page {
  background-color: $background-grey;
  font-family: 'Poppins';
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 33px;
    padding-bottom: 65px;
  }
  .button {
    &:hover {
      cursor: pointer;
    }
    .button__icon-grey {
      background-color: $dark-grey;
    }
  }
  .button--white {
    background-color: $bg-white;
    border: 1px solid darken($background-grey, 15%);
  }
  .button--round {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .header__img {
      background-color: $bg-white;
      border-radius: 50%;
      padding: 4px;
      border: 4px solid $yellow;
    }
    .header__info {
      color: $dark-grey;
      width: 372px;
      height: 156px;
      .header__icons {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 26px;
        position: absolute;
        padding-left: 0px;
        margin-top: 12px;
      }
      .header__heading {
        font-weight: 500;
        font-size: 46px;
        margin: 0%;
      }
      .header__subheading {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: $dark-grey;
        margin: 0;
      }
    }
  }
  .main__facts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px 2px;
    .main__fact {
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: $light-grey;
      max-width: 148px;
      padding: 20px;
      .fact__strong {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $dark-grey;
      }
    }
  }
  .main__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    .main__button {
      width: 290px;
      height: 80px;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 22px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .main__button--yellow {
      background-color: $yellow;
    }
    .main__button--white {
      background-color: $bg-white;
    }
  }
  .tabs__buttons-container {
    background-color: $bg-white;
    border-radius: 20px;
    height: 110px;
    width: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 76px;
    .tab__button {
      font-family: 'Poppins';
      font-size: 22px;
      font-weight: 500;
      background-color: $bg-white;
      border: none;
      border-radius: 10px;
      width: 351.45px;
      height: 80px;
    }
    .tabs__button--grey {
      background-color: $background-grey;
    }
  }
  .projects {
    width: 757px;
    height: 826px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    .projects__img {
      width: 362px;
      height: 226px;
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 130px;
    margin-bottom: 80px;
  }
}
