* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* App layout*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.avatar-container {
  display: flex;
  flex-flow: row wrap;
}
