.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-block-end: 6vh;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
