@use '../base/variables' as *;

/* Light mode */

.profile__title.light {
  color: $text-btn-primary-clr;
}

.btn.light {
  background-color: white;
  color: $text-btn-primary-clr;
}

.breadcrumbs.light {
  background-color: white;
  color: $text-btn-primary-clr;
}

.breadcrumbs__item.selected.light {
  background-color: $secondary-light-clr;
}
