body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

#container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(20, 41px);
  grid-template-rows: repeat(30, 41px);
}

.cell {
  border: 1px solid #212121;
  color: #fafafa;
  height: 40px;
  width: 40px;
}
