* {
  padding: 0;
  box-sizing: border-box;
}

.trafficLight_body {
  display: grid;
  width: 240px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
  background: #585f68;
  box-shadow: inset 20px 0px 0px rgb(0 0 0 / 10%);
  border-radius: 60px;
}

.trafficLight_light {
  position: relative;
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: inset 10px 0px 0px rgb(0 0 0 / 10%);
  border-radius: 60px;
}

.trafficLight_head {
  margin: 0px auto;
  height: 32px;
  width: 120px;
  background-color: #414447;
  border-radius: 40px 40px 0 0;
}

.light-red {
  background-color: #df4040;
}
.light-yellow {
  background-color: #e9ec6a;
}

.light-green {
  background-color: #04ca00;
}

.light-grey {
  background-color: #585f68;
}
