.App {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(116.67deg, #8c72b7 0.58%, rgba(192, 46, 195, 0.3) 101.02%);
  padding-top: 100px;
}
