body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  text-align: center;
  margin: 0;
  padding: 0;
}

.dark--mode {
  background-color: #0c151d;
}

li {
  list-style: none;
}

header {
  padding: 33px 0;
  /* Darkmode icon */
}
header .btn-mode {
  display: inline-block;
  background: none;
  border: none;
  border-radius: 50px;
}
header .btn-mode .header--icon {
  height: 33.35px;
  width: 33.4px;
  color: #3d3d3d;
  background-color: #ffffff;
  padding: 23.32px;
  border-radius: 50%;
}
header .btn-mode__dark {
  display: none;
  background: none;
  border: none;
  border-radius: 50px;
}
header .btn-mode__dark .header--icon__dark {
  height: 33.35px;
  width: 33.4px;
  color: #3d3d3d;
  background-color: #171f26;
  padding: 23.32px;
  border-radius: 50%;
}

.profile--info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 20px 0;
  gap: 40px;
}
.profile--info .profile--picture {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  border: 4px solid #f7d039;
  padding: 8px;
  background-color: #ffffff;
}
.profile--info .profile--information {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile--info .profile--information .profile--name {
  font-size: 46px;
  color: #3d3d3d;
  line-height: 0;
}
.profile--info .profile--information .profile--information__p {
  font-size: 22px;
  color: #575757;
  line-height: 0;
}
.profile--info .profile--information .profile--socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 26px;
  width: 222px;
  height: 36px;
}
.profile--info .profile--information .profile--socialMedia .profile--socialMedia__icon > img {
  width: 30px;
  height: auto;
}

/* dark-mode */
.profile--information__dark {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  font-size: 22px;
  color: #f1f2f4;
  line-height: 0;
}
.profile--information__dark .profile--name__dark {
  font-size: 46px;
  color: #f1f2f4;
  line-height: 0;
}
.profile--information__dark .profile--socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 26px;
  width: 222px;
  height: 36px;
}
.profile--information__dark .profile--socialMedia .profile--socialMedia__icon > img {
  width: 30px;
  height: auto;
}

.main--information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main--information .main--information__profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 2px;
  gap: 90px;
}
.main--information .main--information__profile .main--information__number {
  color: #3a3a3a;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}
.main--information .main--information__profile .main--information__data {
  font-size: 22px;
  line-height: 33px;
  color: #575757;
  margin: 0;
}
.main--information .main--information__buttons {
  width: 618px;
  height: 80px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}
.main--information .main--information__buttons .main--information__btn {
  width: 290px;
  height: 80px;
  border: none;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  border-radius: 10px;
}
.main--information .main--information__buttons .main--information__btn .main--information__btn > img {
  width: 17.99px;
  height: 20px;
}
.main--information .main--information__buttons .btn--yellow {
  color: #3d3d3d;
  background: #fbd144;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main--information .main--information__buttons .btn--white {
  color: #3d3d3d;
  background: #ffffff;
}

/* Main information dark */
.main--information__dark {
  color: #f1f2f4;
  display: none;
  flex-direction: column;
  align-items: center;
}
.main--information__dark .main--information__profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 2px;
  gap: 90px;
}
.main--information__dark .main--information__profile .main--information__numberDark {
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}
.main--information__dark .main--information__profile .main--information__dataDark {
  font-size: 22px;
  line-height: 33px;
  margin: 0;
}
.main--information__dark .main--information__buttons {
  width: 618px;
  height: 80px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}
.main--information__dark .main--information__buttons .main--information__btn {
  width: 290px;
  height: 80px;
  border: none;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  border-radius: 10px;
}
.main--information__dark .main--information__buttons .main--information__btn .main--information__btn > img {
  width: 17.99px;
  height: 20px;
}
.main--information__dark .main--information__buttons .btn--yellow {
  color: #3d3d3d;
  background: #fbd144;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main--information__dark .main--information__buttons .btn--grey {
  color: #f1f2f4;
  background: #171f26;
}

.main--projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px 0;
}
.main--projects__container .projects--button {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 760px;
  height: 110px;
  background: #ffffff;
  border-radius: 20px;
  margin: 50px 0;
  color: #19191b;
}
.main--projects__container .projects--button .projects--btn {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  width: 351.45px;
  height: 80px;
  background-color: #d7d7d7;
  color: #19191b;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0 19px;
}
.main--projects__container .projects--button .projects--button > p {
  width: 351.45px;
}
.main--projects__container .projects--buttonDark {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 760px;
  height: 110px;
  background: #171f26;
  border-radius: 20px;
  margin: 50px 0;
  color: #f1f2f4;
}
.main--projects__container .projects--btnDark {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  width: 351.45px;
  height: 80px;
  background-color: #0c151d;
  color: #f1f2f4;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0 19px;
}
.main--projects__container .projects--btnDark .projects--buttonDark > p {
  width: 351.45px;
}
.main--projects__container .project--container__pictures {
  max-width: 757px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 780px;
}

.project--container__card {
  position: relative;
  overflow: hidden;
}
.project--container__card:hover .container--card__overlay {
  opacity: 0.88;
}
.project--container__card .container--card__img {
  width: 362px;
  height: 226px;
}
.project--container__card .container--card__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: #ffe071;
  width: 362px;
  height: 226px;
  top: 0;
  opacity: 0;
  transition: transform 0.4s ease 0s;
  border-radius: 15px;
}
.project--container__card .container--card__overlay .overlay--card__title {
  font-size: 22px;
}
.project--container__card .container--card__overlay .overlay--card__text {
  font-size: 14px;
}
.project--container__card .container--card__overlay .overlay--card__link {
  width: 38px;
  height: 38px;
  padding: 0;
  color: #3d3d3d;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.footer--white {
  padding: 80px 0;
  font-size: 22px;
  line-height: 33px;
  color: #575757;
}
.footer--white > p {
  margin: 0;
}

.footer--dark {
  padding: 80px 0;
  font-size: 22px;
  line-height: 33px;
  display: none;
  color: #f1f2f4;
}
.footer--dark > p {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
