.theme {
  &__btn,
  &__btn-light {
    border: none;
    margin-inline: auto;
    margin-top: 2rem;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: opacity 0.3s ease;
  }

  &__btn {
    background-color: var(--secondary-clr);
  }

  &__btn-light {
    display: none;
    background-color: white;
  }
}
