.dark {
  --name: var(--light-3);
  --text-1: var(--light-1);
  --text-2: var(--light-1);
  --active-button: var(--active-button-dark);
  --inactive-button: var(--dark-3);
  --background: var(--dark-0);
  --light-background: var(--background-dark);
}
