@import 'portfolio', 'dark', 'icon';
@import 'components';

:root {
  --light-0: #e5e5e5;
  --light-1: #a3abb2;
  --light-2: #d7d7d7;
  --light-3: #f1f2f4;
  --dark-0: #0c151d;
  --dark-1: #575757;
  --dark-2: #3d3d3d;
  --yellow-1: #f7d039;
  --yellow-2: #fbd144;
  --background: var(--light-0);
  --text-1: var(--dark-1);
  --text-2: var(--dark-2);
  --name: var(--dark-2);
  --active-button: var(--light-2);
  --active-button-dark: #0c151d;
  --inactive-button: #fff;
  --light-background: #fff;
  --background-dark: #171f26;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page__container {
  display: grid;
  justify-items: center;
  background-color: var(--background);
  transition: background 0.3s ease-in-out;
}
