.container {
  display: block;
  padding-top: 40px;
}
.traffic-light__head {
  margin: auto;
  background-color: #414447;
  width: 120px;
  height: 32px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.traffic-light__body {
  margin: auto;
  width: 240px;
  height: 560px;
  border-radius: 60px;
  background-color: #585f68;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 24px 0px 0px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.25));
}
.light{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-bottom: 24px; 
  box-shadow: inset 10px 0px 0px rgba(0, 0, 0, 0.1);
}
.light--off {
  background-color: black;
}
.light--red {
  background-color: #df4040;
}
.light--yellow {
  background-color: #e9ec6a;
}
.light--green {
  background-color: #04ca00;
}
