body {
  background-color: antiquewhite;
}

#container {
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(30, 40px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: auto;
  margin: 0 auto;
}

.item {
  border: 1px solid black;
}

.item:hover {
  background-color: blue;
}

.textOff {
  display: none;
  margin: 0 auto;
}

.textOn {
  display: block;
}

p{
  margin: 0 auto;
}
