.addButton {
  border: 4px solid var(--primary);
  width: 232px;
  height: 232px;
  border-radius: 16px;
  background: none;
  position: relative;
}

.addButton::before,
.addButton::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 4px;
  width: 80px;
  background: var(--primary);
}

.addButton::after {
  rotate: 90deg;
}
