.container {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 16px;
  box-shadow: 2px 2px 2px #564a5b;
}

.container__loading {
  width: 240px;
  height: 240px;
  background-image: url("../../assets/loading_circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}

.container__profile_image {
  position: absolute;
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container__image_box {
  position: absolute;
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.container__image_box:hover {
  cursor: pointer;
  background-color: #453a4a7e;
  background-image: url("../../assets/refresh-reload.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}

.container__image_box--animate {
  position: absolute;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("../../assets/refresh-reload.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}
