:root {
  font-family: Roboto;
  --primary: #5e217a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}
