.errorBoundary {
  width: 240px;
  height: 240px;
  border-radius: 16px;
  box-shadow: 2px 2px 2px #564a5b;
  background-color: crimson;
  color: antiquewhite;
}

.errorBoundary__info {
  margin: 25px;
}
